.nav {
  height: $space-big;
  padding: 0 $space-small;
  background-color: $color-main;
  display: flex;
  // justify-content: end;
  justify-content: space-between;
  align-items: center;

  &__icon {
    width: $space-decent;
    margin-left: $space-small;

    img {
      width: 100%;
      height: auto;
      transform: scale(1.25);
    }
  }

  &__btn {
    margin-right: $space-small;
    padding: $space-mini;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 8;
    // width: $space-decent;
    // height: $space-margin;

    &--icon {
      background-color: $color-background;
      height: 3.5px;
      width: $space-gap;
      position: relative;
      display: block;
      border-radius: 2px;
      transition: all 0.3s;
      transform: scale(1.15);

      &::before,
      &::after {
        content: "";
        background-color: $color-background;
        height: inherit;
        width: inherit;
        position: absolute;
        border-radius: 2px;
        transition: all 0.3s;
        left: 0;
      }

      &::before {
        top: calc(
          #{-$space-supersmall - $space-mini}/ 2
        ); /* Position the top line */
      }

      &::after {
        top: calc(
          #{$space-supersmall + $space-mini}/ 2
        ); /* Position the bottom line */
      }
    }
    &.is-active .nav__btn--icon {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }
}

// Navigation Page Styles
.nav-page {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  background-color: $color-accent;
  z-index: 7;
  transition: 0.3s ease-in-out;

  &.is-active {
    right: 0;
  }

  &__list {
    margin: 0;
    margin-top: $space-gap;
    padding: $space-margin;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin: 20px 0;

      a {
        text-decoration: none;
        color: $color-background;
        font-family: "Great Vibes", serif;
        font-size: $text-emphasize;
        font-weight: 500;
        transition: color 0.2s;
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
